@{
    ViewData["Title"] = "AddContact";
}
@model ContactsApp.BLL.Models.Contact

<h2 class="modal-header">Добавить контакт</h2>
<div class="container">
    <form method="post" >
        <p>
            <label>Имя</label>
            <input type="text" value="@Model.Name"/>
        </p>
        <p>
            <label>Фамилия</label>
            <input type="text" value="@Model.Surname" />
        </p>
        <p>
            <label>Телефон</label>
            <input type="text" value="@Model.Phone" />
        </p>
        <p>
            <label>День рождения</label>
            <input type="text" value="@Model.Birthday" />
        </p>
        <p>
            <label>Email</label>
            <input type="text" value="@Model.Email" />
        </p>
        <p>
            <label>Vk</label>
            <input type="text" value="@Model.Vk" />
        </p>
        <p><input class="btn-success" type="submit" value="Создать"/></p>
    </form>
</div>

